<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Alunos Cadastrados</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Pesquisar por nome</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="students" [paginator]="true" [rows]="4" [responsive]="true">
        <p-column field="name" header="NOME" styleClass="col-name"></p-column>
        <p-column field="cpf" header="CPF" styleClass="col-cpf"></p-column>
        <p-column field="course" header="CURSO" styleClass="col-course"></p-column>
        <p-column field="address" header="ENDEREÇO"></p-column>
        <p-column styleClass="col-actions">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="fa-trash" pTooltip="Excluír" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Aluno" styleClass="new-student"></a>
    </div>
  </div>

</div>
