<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Cursos Cadastrados</h1>
    </div>

    <div class="ui-g-12">
      <button type="button" (click)="showDialog()" icon="fa-plus" pButton label="Novo Curso"></button>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="courses" [paginator]="true" [rows]="4" [responsive]="true">
          <p-column field="name" header="CURSO" styleClass="col-name"></p-column>
          <p-column header="DATA REGISTRO" styleClass="col-data">
            <ng-template let-course="rowData" pTemplate="body">
              <span>{{ course.date_register | date:'dd/MM/yyyy' }}</span>
            </ng-template>
          </p-column>
          <p-column field="workload" header="CARGA HORÁRIA" styleClass="col-workload"></p-column>
          <p-column styleClass="col-actions">
            <ng-template pTemplate="body">
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="fa-trash" pTooltip="Excluír" tooltipPosition="top"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Cadastrar novo curso" [(visible)]="display" modal="modal" width="700" [responsive]="true">
  <form>
    <div class="ui-g-4 ui-fluid">
      <label>Curso</label>
      <input type="text" pInputText placeholder="Ex: Amanda Costa" name="course_name" ngModel #course_name="ngModel"
        required minlength="10">

      <!--
        <app-message [control]="course_name" error="required" text="Campo obrigatório"></app-message>
        <app-message [control]="course_name" error="minlength"
          text="Mínimo de {{ course_name.errors?.minlength?.requiredLength }}"></app-message>
      -->
    </div>

    <div class="ui-g-4">
      <label>Data Registro</label>
      <input type="text" pInputText placeholder="Ex: 10/09/2019" name="data_register" ngModel #data_register="ngModel"
        required>

      <!--
        <app-message [control]="data_register" error="required" text="Campo obrigatório"></app-message>
      -->
    </div>

    <div class="ui-g-4">
      <label>Carga Horária</label>
      <input type="text" pInputText placeholder="Ex: 190 horas" name="workload" ngModel #workload="ngModel" required>
      <!--

        <app-message [control]="workload" error="required" text="Campo obrigatório"></app-message>
      -->
    </div>
  </form>
  <p-footer>
    <button type="button" pButton (click)="display=false" label="Não"></button>
    <button type="button" pButton (click)="display=false" label="Sim"></button>
  </p-footer>
</p-dialog>
