/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-name {
  width: 250px;
}

.col-cpf {
  width: 150px;
}

.col-course {
  width: 130px;
}

.col-actions {
  width: 90px;
  text-align: center;
}

.col-cep {
  width: 110px;
  text-align: center;
}
.col-housenumber{
  width: 90px;
  text-align: center;
}

.new-student {
  text-decoration: none;
  color: #fff;
}

.col-data {
  width: 150px;
  text-align: center;
}

.col-workload {
  width: 140px;
  text-align: center;
}

.ui-dropdown-filter-container {
  width: 100%;
}

.back {
  text-decoration: none;
  color: #90CAF9;
}
