<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Olá, Seja Bem-vindo(a)</h1>
    </div>

    <div class="ui-g-6">
      <div class="ui-g overview-box overview-box-1 card">
        <!--
          <div class="ui-g-5">
            <div class="overview-box-icon"><img src="../../../assets/icons8-centro-de-estudos-80.png" alt="" class="image"></div>
          </div>
        -->
        <div class="ui-g-6">
          <div class="overview-box-content">
            <div class="overview-box-title">Acessar Cursos</div>
          </div>
        </div>
        <div class="ui-g-12">
          <a routerLink="/cursos" type="button" pButton label="Acessar"></a>
        </div>
      </div>
    </div>

    <div class="ui-g-6">
      <div class="ui-g overview-box-2 overview-box-2 card">
        <!--
            <div class="ui-g-5">
              <div class="overview-box-icon"><img src="../../../assets/icons8-centro-de-estudos-80.png" alt="" class="image"></div>
            </div>
          -->
        <div class="ui-g-6">
          <div class="overview-box-content-2">
            <div class="overview-box-title">Acessar Alunos</div>
          </div>
        </div>
        <div class="ui-g-12">
          <a routerLink="/alunos" type="button" pButton label="Acessar"></a>
        </div>
      </div>
    </div>
  </div>

</div>
