<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="search()">
      <div class="ui-g-12">
        <h1>Alunos Cadastrados</h1>
      </div>

      <div class="ui-g-12">
        <h3>Pesquisar por Nome ou CPF</h3>
      </div>

      <div class="ui-g-5 ui-fluid">
        <input pInputText type="text" name="nameSearch" [(ngModel)]="filter.nameSearch"
          placeholder="Maria Pereira Silva">
      </div>

      <div class="ui-g-3 ui-fluid">
        <input pInputText type="text" name="cpfSearch" [(ngModel)]="filter.cpfSearch" placeholder="168.772.863-16">
      </div>

      <div class="ui-g-3 btn-search">
        <button pButton type="submit" icon="fa-search"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="students" [responsive]="true" [paginator]="true" [rows]="filter.itemsPage" [lazy]="true"
        [totalRecords]="totalRegisters" (onLazyLoad)="changePage($event)" #table>
        <p-column field="name" header="NOME" styleClass="col-name"></p-column>
        <p-column field="cpf" header="CPF" styleClass="col-cpf"></p-column>
        <p-column field="address.public_place" header="ENDEREÇO"></p-column>
        <p-column field="course.name" header="CURSO" styleClass="col-course"></p-column>
        <p-column styleClass="col-actions">
          <ng-template let-student="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="fa-trash" pTooltip="Excluír" tooltipPosition="top" (click)="confirmDelete(student)"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Aluno" styleClass="new-student"></a>
    </div>
  </div>

</div>
