<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastrar Novo Aluno</h1>
      </div>

      <div class="ui-g-5 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText placeholder="Ex: Amanda Costa" name="name_student" ngModel #name_student="ngModel"
          required minlength="5">

        <div *ngIf="name_student.hasError('required') && name_student.dirty" class="ui-message ui-messages-error">
          Este campo é obrigatório
        </div>

        <div *ngIf="name_student.hasError('minlength') && name_student.dirty" class="ui-message ui-messages-error">
          Este campo deve ter no mínimo {{name_student.errors.minlength.requiredLength}}
        </div>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>CPF</label>
        <input type="text" pInputText placeholder="Ex: 605.800.020.90" name="cpf" ngModel #cpf="ngModel">
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText placeholder="Ex: amanda.costa@ceuma.com" name="email" ngModel #email="ngModel">
      </div>

      <div class="ui-g-3 ui-fluid">
        <label for="">Telefone</label>
        <input type="text" pInputText name="phone" ngModel #phone="ngModel">
      </div>

      <div class="ui-g-2 ui-fluid">
        <label for="">CEP</label>
        <input type="text" pInputText name="cep" ngModel #cep="ngModel">
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Rua</label>
        <input type="text" pInputText name="street" ngModel #street="ngModel">
      </div>

      <div class="ui-g-2 ui-fluid">
        <label for="">Bairro</label>
        <input type="text" pInputText name="neighborhood" ngModel #neighborhood="ngModel">
      </div>

      <div class="ui-g-1 ui-fluid">
        <label for="">Nº Casa</label>
        <input type="text" pInputText name="house_number" ngModel #house_number="ngModel">
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Cidade</label>
        <input type="text" pInputText name="city" ngModel #city="ngModel">
      </div>

      <div class="ui-g-1 ui-fluid">
        <label for="">UF</label>
        <input type="text" pInputText name="state" ngModel #state="ngModel">
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Curso</label>
        <p-dropdown [options]="courses" [autoWidth]="false" [filter]="true" placeholder="Selecione"></p-dropdown>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton label="Cadastrar" class="ui-button-info"></button>
        <button pButton label="Novo"></button>
        <a href="#">Voltar</a>
      </div>
    </div>
  </form>
</div>
