<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastrar Novo Aluno</h1>
      </div>

      <div class="ui-g-5 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText placeholder="Ex: Amanda Costa">
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>CPF</label>
        <input type="text" pInputText placeholder="Ex: 605.800.020.90">
      </div>

      <div class="ui-g-4 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label for="">Telefone</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label for="">CEP</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Rua</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-1 ui-fluid">
        <label for="">Nº Casa</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label for="">Bairro</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Cidade</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-1 ui-fluid">
        <label for="">UF</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-4 ui-fluid">
        <label for="">Curso</label>
        <input type="text" pInputText>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton label="Cadastrar"></button>
        <button pButton label="Novo"></button>
        <a href="#">Voltar</a>
      </div>
    </div>
  </form>
</div>
