<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="#" class="navbar-toogle" (click)="showMenu = !showMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showMenu">
    <li class="navbar-user">Administrador</li>
    <li class="navbar-menuitem"><a href="#"><i class="fa fa-users"></i> Alunos</a></li>
    <li class="navbar-menuitem"><a href="#">Cursos</a></li>
    <li class="navbar-menuitem"><a href="#"><i class="fa fa-sign-out-alt">Logout</i></a></li>
  </ul>
</nav>
